<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.linlinjava.litemall.db.dao.LitemallSerialNumberMapper" >
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.LitemallSerialNumber" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
    <result column="serial_type" property="serialType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, serial_number, serial_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from litemall_serial_number
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from litemall_serial_number
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.LitemallSerialNumber" >
    insert into litemall_serial_number (id, serial_number, serial_type
      )
    values (#{id,jdbcType=INTEGER}, #{serialNumber,jdbcType=INTEGER}, #{serialType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.LitemallSerialNumber" >
    insert into litemall_serial_number
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="serialType != null" >
        serial_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="serialType != null" >
        #{serialType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.LitemallSerialNumber" >
    update litemall_serial_number
    <set >
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="serialType != null" >
        serial_type = #{serialType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.LitemallSerialNumber" >
    update litemall_serial_number
    set serial_number = #{serialNumber,jdbcType=INTEGER},
      serial_type = #{serialType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectSerialNumberByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select 
  	<include refid="Base_Column_List" /> 
  	from litemall_serial_number where 1=1 
  	and serial_type = #{type,jdbcType=VARCHAR}
  </select>
</mapper>