<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.linlinjava.litemall.db.dao.LitemallExpressMapper" >
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.LitemallExpress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="express_sn" property="expressSn" jdbcType="VARCHAR" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, express_sn, express_name, deleted
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from litemall_express
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectExpressList" resultMap="BaseResultMap" parameterType="org.linlinjava.litemall.db.domain.LitemallExpress" >
    select 
    <include refid="Base_Column_List" />
    from litemall_express where deleted = false
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from litemall_express
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.LitemallExpress" >
    insert into litemall_express (id, express_sn, express_name, 
      deleted)
    values (#{id,jdbcType=INTEGER}, #{expressSn,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT})
  </insert>
  
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.LitemallExpress" >
    insert into litemall_express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="expressSn != null" >
        express_sn,
      </if>
      <if test="expressName != null" >
        express_name,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expressSn != null" >
        #{expressSn,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.LitemallExpress" >
    update litemall_express
    <set >
      <if test="expressSn != null" >
        express_sn = #{expressSn,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.LitemallExpress" >
    update litemall_express
    set express_sn = #{expressSn,jdbcType=VARCHAR},
      express_name = #{expressName,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExpressSn" resultType="org.linlinjava.litemall.db.domain.LitemallExpress">
    select
    id, express_sn as expressSn, express_name as expressName, deleted
    from litemall_express where express_sn=#{expressSn}
  </select>
</mapper>