<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.linlinjava.litemall.db.dao.LitemallStoreMapper" >
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.LitemallStore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    <result column="store_province" property="storeProvince" jdbcType="VARCHAR" />
    <result column="store_city" property="storeCity" jdbcType="VARCHAR" />
    <result column="store_img" property="storeImg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="store_remrk" property="storeRemrk" jdbcType="VARCHAR" />
    <result column="store_tel" property="storeTel" jdbcType="VARCHAR" />
    <result column="store_coordinate" property="storeCoordinate" jdbcType="VARCHAR" />
  </resultMap>
  
    <resultMap id="BaseResultMapGoods" type="org.linlinjava.litemall.db.domain.LitemallGoods">
  
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="gallery" jdbcType="CHAR" property="gallery" typeHandler="org.linlinjava.litemall.db.mybatis.JsonStringArrayTypeHandler" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
    <result column="is_on_sale" jdbcType="BIT" property="isOnSale" />
    <result column="sort_order" jdbcType="SMALLINT" property="sortOrder" />
    <result column="counter_price" jdbcType="DECIMAL" property="counterPrice" />
    <result column="is_new" jdbcType="BIT" property="isNew" />
    <result column="primary_pic_url" jdbcType="VARCHAR" property="primaryPicUrl" />
    <result column="list_pic_url" jdbcType="VARCHAR" property="listPicUrl" />
    <result column="is_hot" jdbcType="BIT" property="isHot" />
    <result column="goods_unit" jdbcType="VARCHAR" property="goodsUnit" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_name, store_address, store_province, store_city, store_img, create_date,create_date as "createDateStr" ,
    create_by, store_remark, store_tel
  </sql>
  
  
  <select id="selectByPrimaryKey" resultType="org.linlinjava.litemall.db.domain.LitemallStore" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from litemall_store
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectStoreById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from litemall_store
        where id = #{id,jdbcType=INTEGER}
    </select>
  
    <select id="countByExample" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" resultType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 07 10:22:31 CST 2018.
    -->
    select count(*)   from litemall_store s 
    
    left join litemall_region g on g.id = s.store_province
    left join litemall_region k on k.id = s.store_city
    where 
    1=1
       
     <if test="storeName != null and storeName!='' " >
      and s.store_name   like concat('%', #{storeName,jdbcType=VARCHAR},'%') 
      </if>
      <if test="storeCity != null and storeCity!='' " >
    
       and k.name   like concat('%', #{storeCity,jdbcType=VARCHAR},'%') 
      
      </if>
      <if test="storeProvince != null and storeProvince!='' " >
      and s.store_province =   #{storeProvince,jdbcType=VARCHAR}
      </if>
    
   
  </select>
  
  
  <select id="selectByExample" resultType="org.linlinjava.litemall.db.domain.LitemallStore" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    select 
    s.id, 
    s.store_name  as "storeName",
    s.store_Coordinate as "storeCoordinate",
    s.store_address as "storeAddress",
    s.store_province as "storeProvince",
    s.store_city as "storeCity", 
    s.store_img as "storeImg",
    s.create_date as "createDate",
    s.create_date as "createDateStr" ,
    s.create_by AS "createBy", 
    s.store_remark AS "storeRemark", 
    s.service_peo as "servicePeo",
   <!--  u.username as "managerName", --><!--店长名称,由于一个门店可以对应多个店长   -->
    g.name as "provinceName",
    k.name as "cityName",
    s.store_tel AS "storeTel"
    
    
  <!--   from litemall_store s left join (SELECT * FROM litemall_store_user WHERE user_flag='0') su on s.id= su.store_id
    left join litemall_admin u on u.id=su.user_id -->
     from litemall_store s
    left join litemall_region g on g.id = s.store_province
    left join litemall_region k on k.id = s.store_city
    where 
    1=1
     <if test="storeName != null and storeName!='' " >
       and s.store_name   like concat('%', #{storeName,jdbcType=VARCHAR},'%') 
      </if>
      <if test="storeCity != null and storeCity!='' " >
        and k.name   like concat('%', #{storeCity,jdbcType=VARCHAR},'%') 
      </if>
      <if test="storeProvince != null and storeProvince!='' " >
      and s.store_province =   #{storeProvince,jdbcType=VARCHAR}
      </if>
     
  </select>
  
  
    
  <select id="selectStoreManage" resultType="java.lang.String" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
   SELECT GROUP_CONCAT(a.username) FROM litemall_store_user u LEFT JOIN litemall_admin a  ON u.user_id = a.id 
   WHERE u.user_flag='0'
   and  u.store_id =  #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectStoreDoctor" resultType="java.lang.String" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
   SELECT GROUP_CONCAT(a.username) FROM litemall_store_user u LEFT JOIN litemall_admin a  ON u.user_id = a.id 
   WHERE u.user_flag='1'
	and  u.store_id =  #{id,jdbcType=VARCHAR}
  </select>
  
  
  
    <select id="queryAdminStorelist" resultType="org.linlinjava.litemall.db.domain.LitemallStore" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    select 
    s.id, 
    s.store_name  as "storeName",
    s.store_Coordinate as "storeCoordinate",
    s.store_address as "storeAddress",
    s.store_province as "storeProvince",
    s.store_city as "storeCity", 
    s.store_img as "storeImg",
    s.create_date as "createDate",
    s.create_date as "createDateStr" ,
    s.create_by AS "createBy", 
    s.store_remark AS "storeRemark", 
    s.service_peo as "servicePeo",
    g.name as "provinceName",
    k.name as "cityName",
    s.store_tel AS "storeTel"
    
    from litemall_store s 

    left join litemall_region g on g.id = s.store_province
    left join litemall_region k on k.id = s.store_city
    where 
    1=1
	<if test="userId != null and userId!='' and sflag == 0 " >
		and  s.id not in (select store_id from litemall_store_user where user_id =#{userId,jdbcType=VARCHAR})
	</if>
	<if test="userId != null and userId!='' and sflag == 1 " >
		and  s.id  in (select store_id from litemall_store_user where user_id =#{userId,jdbcType=VARCHAR})
	</if>
	<if test="storeName != null and storeName!='' " >
	 	and s.store_name   like concat('%', #{storeName,jdbcType=VARCHAR},'%') 
	</if>
	<if test="storeCity != null and storeCity!='' " >
	  	and k.name   like concat('%', #{storeCity,jdbcType=VARCHAR},'%') 
	</if>
	<if test="storeProvince != null and storeProvince!='' " >
		and s.store_province =   #{storeProvince,jdbcType=VARCHAR}
	</if>

  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    delete from litemall_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    insert into litemall_store (id, store_name, store_address, 
      store_province, store_city, store_img, 
      create_date, create_by, store_remark, 
      store_tel)
    values (#{id,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{storeAddress,jdbcType=VARCHAR}, 
      #{storeProvince,jdbcType=VARCHAR}, #{storeCity,jdbcType=VARCHAR}, #{storeImg,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR}, #{storeRemark,jdbcType=VARCHAR}, 
      #{storeTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    insert into litemall_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="storeAddress != null" >
        store_address,
      </if>
      <if test="storeProvince != null" >
        store_province,
      </if>
      <if test="storeCity != null" >
        store_city,
      </if>
      <if test="storeImg != null" >
        store_img,
      </if>
    
        create_date,
     
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="storeRemark != null" >
        store_remark,
      </if>
      <if test="storeTel != null" >
        store_tel,
      </if>
       <if test="servicePeo != null" >
        service_peo,
      </if>
       <if test="storeCoordinate != null" >
        store_coordinate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeProvince != null" >
        #{storeProvince,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null" >
        #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeImg != null" >
        #{storeImg,jdbcType=VARCHAR},
      </if>
    	now(),
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="storeRemark != null" >
        #{storeRemark,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null" >
        #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="servicePeo != null" >
         #{servicePeo,jdbcType=VARCHAR},
      </if>
      <if test="storeCoordinate != null" >
         #{storeCoordinate,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    update litemall_store
    <set >
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        store_address = #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeProvince != null" >
        store_province = #{storeProvince,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null" >
        store_city = #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeImg != null" >
        store_img = #{storeImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="storeRemark != null" >
        store_remark = #{storeRemark,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null" >
        store_tel = #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="servicePeo != null" >
         service_peo= #{servicePeo,jdbcType=VARCHAR},
      </if>
      <if test="storeCoordinate != null" >
        store_Coordinate =  #{storeCoordinate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    update litemall_store
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_address = #{storeAddress,jdbcType=VARCHAR},
      store_province = #{storeProvince,jdbcType=VARCHAR},
      store_city = #{storeCity,jdbcType=VARCHAR},
      store_img = #{storeImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      store_remark = #{storeRemark,jdbcType=VARCHAR},
      store_tel = #{storeTel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--  设置店长-->
   <insert id="insertManage" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    insert into litemall_store_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
       user_id,
      </if>
       <if test="flag != null" >
       user_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!--  设置医生-->
  <insert id="insertDoctor" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    insert into litemall_store_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
       user_id,
      </if>
       <if test="flag != null" >
       user_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
       <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
   <delete id="deleteManage" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    delete from litemall_store_user
    where store_id = #{storeId,jdbcType=VARCHAR}
    and user_flag='0'
  </delete>
  
  
  <select id="queryGoodOptions" resultType="org.linlinjava.litemall.db.domain.LitemallOptions"  >
    select 
    goods_sn as "value",
    name  as "label"
    from litemall_goods
    where flag='2'<!-- 2代表服务 -->
  </select>
  
  <insert id="insertGoods" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
  	
  	 insert into litemall_store_goods 
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	     <if test="storeId != null" >
	       store_id,
	     </if>
	      <if test="goodsId != null" >
	      goods_id,
	     </if>
	 <!--     <if test="projectTime != null" >
	      project_time,
	     </if>
	     <if test="servicePeo != null" >
	      service_peo,
	     </if>  -->
	   </trim>
	   <trim prefix="values (" suffix=")" suffixOverrides="," >
	     <if test="storeId != null" >
	       #{storeId,jdbcType=VARCHAR},
	     </if>
	      <if test="goodsId != null" >
	        #{goodsId,jdbcType=VARCHAR},
	     </if>
	  <!--    <if test="projectTime != null" >
	       #{projectTime,jdbcType=VARCHAR},
	     </if>
	     <if test="servicePeo != null" >
	       #{servicePeo,jdbcType=VARCHAR},
	     </if> -->
	   </trim>
 </insert>
  
  <select id="queryGoodsStoreList" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" resultType="org.linlinjava.litemall.db.domain.LitemallStore">
    select 
    	id, 
    	store_id as "storeId",
    	goods_Id as "goodsId"
     from litemall_store_goods 
    where 
    1=1
     <if test="storeId != null and storeId !='' " >
      and store_id  =#{storeId,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null and goodsId !='' " >
      and goods_Id =   #{goodsId,jdbcType=VARCHAR}
      </if>
  </select>
  
  <select id="slectStoreGoods" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" resultType="java.lang.Integer">
    select count(*)   from litemall_store_goods 
    where 
    1=1
     <if test="storeId != null and storeId !='' " >
      and store_id  =#{storeId,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null and goodsId !='' " >
      and goods_Id =   #{goodsId,jdbcType=VARCHAR}
      </if>
  </select>
  
  
  
   <update id="updateStoreGoods" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    update litemall_store_goods
    <set >
      <if test="projectTime != null" >
        project_time = #{projectTime,jdbcType=VARCHAR},
      </if>
      <if test="servicePeo != null" >
        service_peo = #{servicePeo,jdbcType=VARCHAR},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=VARCHAR}
    and goods_id =  #{goodsId,jdbcType=VARCHAR}
  </update>
  
  
    <!--  删除门店商品关联-->
  <delete id="deleteStoreGoods" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
    delete from  litemall_store_goods
    where store_id = #{storeId,jdbcType=VARCHAR}
    and goods_id =  #{goodsId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 删除门店和用户的关联关联 -->
  
	<delete id="deleteStoreUser" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
		  delete from  litemall_store_user
		  where 1=1
		  <if test="storeId != null and storeId !='' ">
		   and store_id = #{storeId,jdbcType=VARCHAR}
		  </if>
		  
		  and user_id =  #{userId,jdbcType=VARCHAR}
		  
	 	<if test="flag != null and flag !='' and flag==0 " >
		 	 and user_flag = '0'<!-- 0代表店长 -->
		</if>
		<if test="flag != null and flag !='' and flag==1 " >
		 	 and user_flag = '1'<!-- 1代表医生 -->
	 	</if>
	</delete>


  
  
  
   <select id="queryProvinceOptions" resultType="org.linlinjava.litemall.db.domain.LitemallOptions"  >
    select 
    id as "value",
    name  as "label"
    from litemall_region
    where type='1'
  </select>
  
  
   <select id="queryAreaOptions" resultType="org.linlinjava.litemall.db.domain.LitemallOptions"  parameterType="java.lang.String" >
    select 
    id as "value",
    name  as "label"
    from litemall_region
    where type='2'
     <if test="province != null" >
    and  pid=#{province,jdbcType=VARCHAR}
    </if>
  </select>
  
  <!-- 微信门店列表接口 -->
  <select id="wxqueryStore" resultType="org.linlinjava.litemall.db.domain.LitemallStore" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
	 	select 
		    s.id, 
		    s.store_name  as "storeName",
		    s.store_address as "storeAddress",
		    s.store_province as "storeProvince",
		    s.store_city as "storeCity", 
		    s.store_img as "storeImg",
		    s.create_date as "createDate",
		    s.create_date as "createDateStr" ,
		    s.create_by AS "createBy", 
		    s.store_remark AS "storeRemark", 
		    s.service_peo as "servicePeo",
		    s.store_coordinate as "storeCoordinate",
		    g.name as "provinceName",
		    k.name as "cityName",
		    s.store_tel AS "storeTel"		    
	    from litemall_store s 
	    left join litemall_region g on g.id = s.store_province
	    left join litemall_region k on k.id = s.store_city
		    where 
		    1=1
     <if test="storeName != null and storeName!='' " >
       and s.store_name   like concat('%', #{storeName,jdbcType=VARCHAR},'%') 
      </if>
      <if test="storeCity != null and storeCity!='' " >
        and k.name   like concat('%', #{storeCity,jdbcType=VARCHAR},'%') 
      </if>
      <if test="storeProvince != null and storeProvince !='' " >
      and s.store_province =   #{storeProvince,jdbcType=VARCHAR}
     </if>
      <if test="id != null and id !='' " >
      and s.id =   #{id,jdbcType=VARCHAR}
     </if>
  </select>
  
  
	<!--   wxqueryGoods 查询门店关联的服务 -->
	<select id="wxqueryGoods" resultMap="BaseResultMapGoods" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" >
	 	select 
		   su.name ,
		   su.id,
		   su.primary_pic_url,
		   su.counter_price,
		   p.retail_price
		   from litemall_store_goods s left join litemall_goods su on s.goods_id= su.id
		   left join litemall_product p on p.goods_id = s.goods_id
		    where 
		    1=1 and su.deleted=0 and p.deleted=0
   			and s.store_id =#{id}
  </select>
  
 
    <select id="wxqueryGoodsStore" resultType="org.linlinjava.litemall.db.domain.LitemallStore"  parameterType="java.lang.String">
 	select 
      	s.id, 
	    s.store_name  as "storeName",
	    s.store_address as "storeAddress",
	    s.store_province as "storeProvince",
	    s.store_city as "storeCity", 
	    s.store_img as "storeImg",
	    s.create_date as "createDate",
	    s.create_date as "createDateStr" ,
	    s.create_by AS "createBy", 
	    s.store_remark AS "storeRemark", 
	    s.service_peo as "servicePeo",
	    s.store_tel AS "storeTel",
	    s.store_coordinate as "storeCoordinate"
	   from litemall_store_goods su left join litemall_store  s on su.store_id= s.id
	    where 
	    1=1
	and su.goods_id =#{id}
  </select>
  
   <select id="wxqueryAllStore" resultType="org.linlinjava.litemall.db.domain.LitemallStore"  >
	select 
		s.id, 
		s.store_name  as "storeName",
		s.store_address as "storeAddress",
		s.store_province as "storeProvince",
		s.store_city as "storeCity", 
		s.store_img as "storeImg",
		s.create_date as "createDate",
		s.create_date as "createDateStr" ,
		s.create_by AS "createBy", 
		s.store_remark AS "storeRemark", 
		s.service_peo as "servicePeo",
		s.store_tel AS "storeTel"
	  from litemall_store s
	   where 
	   1=1
  </select>
  
  
  <!-- 根据登录用户id查询用户所属门店 -->
  <select id="selectStoreByUserid" resultMap="BaseResultMap"  parameterType="java.lang.String" >
 	select 
      	s.id,
		s.store_name,
		s.store_address,
		s.store_province,
		s.store_city,
		s.store_img,
		s.create_date,
		s.create_date AS "createDateStr",
		s.create_by,
		s.store_remark,
		s.store_tel
	from litemall_store s left join litemall_store_user su on s.id= su.store_id
	where 1=1
		and su.user_id =#{id}
  </select> 
  
  <select id="getGoodsStoreList" parameterType="org.linlinjava.litemall.db.domain.LitemallStore" resultType="org.linlinjava.litemall.db.domain.LitemallStore">
    select 
    	id, 
    	store_id as "storeId",
    	goods_Id as "goodsId"
     from litemall_store_goods 
    where 
    1=1
     <if test="storeId != null and storeId !='' " >
      and store_id  =#{storeId,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null and goodsId !='' " >
      and goods_Id =   #{goodsId,jdbcType=VARCHAR}
      </if>
  </select>
  
  
  
</mapper>